# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [38]:
import pandas as pd

# URL of the raw CSV file
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

# Read the CSV file from the URL
insurance_data = pd.read_csv(url)

In [39]:
column_names = insurance_data.columns.tolist()
print(column_names)

['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

In [40]:
column_names = [col.lower().replace(" ", "_") for col in column_names]
print(column_names)

['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

In [41]:
column_names = [
    "state" if col.lower() == "st" else col
    for col in column_names
]
print(column_names)

['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

In [42]:
column_names = [
    "customer" if col.lower() == "custateomer" else col
    for col in column_names
]
print(column_names)

['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

In [43]:
column_names = [
    "customer_lifetime_value" if col.lower() == "custateomer_lifetime_value" else col
    for col in column_names
]
print(column_names)

['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

In [44]:
insurance_data.columns = column_names # to update the data frame columns

In [45]:
insurance_data.columns = insurance_data.columns.str.lower()
insurance_data.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [46]:
# Standardize the Gender column
insurance_data["gender"] = insurance_data["gender"].str.lower().str.strip()
insurance_data["gender"] = insurance_data["gender"].apply(lambda x: "F" if isinstance(x, str) and x.startswith("f") else "M" if isinstance(x, str) else x)

insurance_data['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [47]:
# to replace state values based on conditions
insurance_data['state'] = insurance_data['state'].str.upper()
insurance_data.loc[insurance_data['state'] == 'AZ', 'state'] = 'ARIZONA'
insurance_data.loc[insurance_data['state'] == 'CALI', 'state'] = 'CALIFORNIA'
insurance_data.loc[insurance_data['state'] == 'WA', 'state'] = 'WASHINGTON'

insurance_data['state']

0       WASHINGTON
1          ARIZONA
2           NEVADA
3       CALIFORNIA
4       WASHINGTON
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: state, Length: 4008, dtype: object

In [48]:
insurance_data.loc[insurance_data['education'] == 'Bachelors', 'education'] = 'Bachelor'
insurance_data['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [49]:
# Remove the '%' character from the 'customer_lifetime_value' column
insurance_data['customer_lifetime_value'] = insurance_data['customer_lifetime_value'].str.replace('%', '')
insurance_data['customer_lifetime_value']

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: object

In [50]:
insurance_data.loc[insurance_data['vehicle_class'] == 'Sports Car', 'vehicle_class'] = 'Luxury'
insurance_data.loc[insurance_data['vehicle_class'] == 'Luxury SUV', 'vehicle_class'] = 'Luxury'
insurance_data.loc[insurance_data['vehicle_class'] == 'Luxury Car', 'vehicle_class'] = 'Luxury'
insurance_data['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [51]:
insurance_data['customer_lifetime_value'] = pd.to_numeric(insurance_data['customer_lifetime_value'], errors='coerce')

insurance_data['number_of_open_complaints'] = insurance_data['number_of_open_complaints'].str.split('/').str[1]
insurance_data['number_of_open_complaints'] = pd.to_numeric(insurance_data['number_of_open_complaints'], errors='coerce')


insurance_data['number_of_open_complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [52]:
insurance_data.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [53]:
# Drop rows where 'customer' is null
insurance_data.dropna(subset=['customer'], inplace=True)

In [54]:
# Categorical Columns Use mode to fill null values because these are categorical variables
for col in ['state', 'gender', 'education', 'policy_type', 'vehicle_class']:
    insurance_data[col].fillna(insurance_data[col].mode()[0], inplace=True)

<ipython-input-54-d90425152655>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  insurance_data[col].fillna(insurance_data[col].mode()[0], inplace=True)

In [56]:
# Numerical Columns Use median for numerical variables to handle outliers better than the mean
for col in ['customer_lifetime_value', 'income', 'monthly_premium_auto',
            'number_of_open_complaints', 'total_claim_amount']:
    insurance_data[col].fillna(insurance_data[col].median(), inplace=True)

<ipython-input-56-27e99e28bd36>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  insurance_data[col].fillna(insurance_data[col].median(), inplace=True)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [59]:
insurance_data.duplicated().sum()

0

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [63]:
# Function to load the dataset
def load_data(url):
    return pd.read_csv(url)

# Function to clean column names
def clean_column_names(insurance_data):
    column_names = insurance_data.columns.tolist()
    column_names = [col.lower().replace(" ", "_") for col in column_names]
    column_names = [
        "state" if col == "st" else col for col in column_names
    ]
    insurance_data.columns = column_names
    return insurance_data

# Function to clean gender values
def clean_gender(insurance_data):
    insurance_data["gender"] = insurance_data["gender"].str.lower().str.strip()
    insurance_data["gender"] = insurance_data["gender"].apply(lambda x: "F" if x.startswith("f") else "M")
    return insurance_data

# Function to clean state values
def clean_state(insurance_data):
    insurance_data['state'] = insurance_data['state'].str.upper()
    insurance_data.loc[insurance_data['state'] == 'AZ', 'state'] = 'ARIZONA'
    insurance_data.loc[insurance_data['state'] == 'CALI', 'state'] = 'CALIFORNIA'
    insurance_data.loc[insurance_data['state'] == 'WA', 'state'] = 'WASHINGTON'
    return insurance_data

# Function to clean education values
def clean_education(insurance_data):
    insurance_data.loc[insurance_data['education'] == 'Bachelors', 'education'] = 'Bachelor'
    return insurance_data

# Function to clean customer lifetime value
def clean_customer_lifetime_value(insurance_data):
    insurance_data['customer_lifetime_value'] = insurance_data['customer_lifetime_value'].str.replace('%', '')
    insurance_data['customer_lifetime_value'] = pd.to_numeric(insurance_data['customer_lifetime_value'], errors='coerce')
    return insurance_data

# Function to clean vehicle class values
def clean_vehicle_class(insurance_data):
    insurance_data.loc[insurance_data['vehicle_class'] == 'Sports Car', 'vehicle_class'] = 'Luxury'
    insurance_data.loc[insurance_data['vehicle_class'] == 'Luxury SUV', 'vehicle_class'] = 'Luxury'
    insurance_data.loc[insurance_data['vehicle_class'] == 'Luxury Car', 'vehicle_class'] = 'Luxury'
    return insurance_data

# Function to clean number of open complaints
def clean_complaints(insurance_data):
    insurance_data['number_of_open_complaints'] = insurance_data['number_of_open_complaints'].str.split('/').str[1]
    insurance_data['number_of_open_complaints'] = pd.to_numeric(insurance_data['number_of_open_complaints'], errors='coerce')
    return insurance_data

# Function to handle null values
def handle_nulls(insurance_data):
    insurance_data.dropna(subset=['customer'], inplace=True)
    categorical_columns = ['state', 'gender', 'education', 'policy_type', 'vehicle_class']
    for col in categorical_columns:
        insurance_data[col].fillna(insurance_data[col].mode()[0], inplace=True)
    numerical_columns = ['customer_lifetime_value', 'income', 'monthly_premium_auto',
                         'number_of_open_complaints', 'total_claim_amount']
    for col in numerical_columns:
        insurance_data[col].fillna(insurance_data[col].median(), inplace=True)
    return insurance_data

# Function to handle duplicates
def remove_duplicates(insurance_data):
    insurance_data.drop_duplicates(inplace=True)
    insurance_data.reset_index(drop=True, inplace=True)
    return insurance_data

# Main function to apply all cleaning functions
def main(url):
    # Load the dataset
    insurance_data = load_data(url)
        # Return the cleaned dataframe
    return insurance_data

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here